@font-face{
  font-family: "proxima-nova-soft";
  font-style: normal;
  src: url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
}

*{
	font-family: "proxima-nova-soft", Arial, Helvetica, sans-serif;
}

body{
  font-weight: 400;
  line-height: 24px;
  color: #494949;
  letter-spacing: 0.5px;
}


.uno {
	height: 450px;
	width: 100%;
}

.alert-align{
  text-align: center;
  position: fixed;
  z-index: 1;
}

.header{
  background-color: rgb(154, 204, 239);
  height: 100px;
  margin-top: 0;
  padding-top: 20px;
  padding-left: 130px;
  padding-right: 140px;
}

.bg-nav{
  background-color: rgb(154, 204, 239);
}

.neat-img{
  height: 50px;
  width: 50%;
}

.div-email {
  padding-top:15px;
}

.div-email a{
  color: white;
}

.icon--hero-bg{
	color: white;
	height: 450px;
	background-size: cover;
	/*background-position: right bottom;*/
	display: flex;
	justify-content: center;
	align-items: center;
}
.icon--hero-bg::after{
	position: absolute;
	background-color: #F9F9F9;
	height: 45px;
	width: 100%;
	bottom: 0;
}

.section-neat-services{
  background-color: #F9F9F9;
}
.neat-services{
  padding-top: 30px;
  height: 350px;
  background-color: #F9F9F9;
  margin: 0 89.5px;
}

.icon-services{
	width: 275px;
	height: 275px;
	background-color: #FFCC66;
	border-radius: 50%;
	position: relative;
	padding: 8%;
}

.icon-attributes{
  position: absolute;
	width: 70%;
	height: 70%;
	background-size: cover;
  text-align: center;
}

.h1-font{
  color: #3498db;
  font-size: 45px;
  font-weight: 700;
  margin-left: -55px;
}

.p-font{
  padding-left: 120px;
  line-height: 3.5rem;
  letter-spacing: 1px;
  font-weight: 600;
  text-align: left;
  font-size: 17px;
}
.section-promise{
  padding-top: 75px;
  height: 700px;
  background-color: white;
}

.h1-promise{
  color: #3498DB;
  font-size: 65px;
  font-weight: 700;
}

.p-promise{
  line-height: 3.5rem;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 22px;
  color: rgb(73, 73, 73);
}

.feature-title{
  font-weight: 700;
  color: #6EA43F;
}

.feature-icon{
  width: 100px;
	height: 100px;
	position: relative;
	padding: 8%;
}
.iconn{
  position: absolute;
	width: 80%;
	height: 80%;
	background-size: cover;
  margin-left: 90px;
}

.comunity-section{
  padding-top: 75px;
  background-color: rgb(117, 185, 231);
  height: 700px;
}
.h1-comunity{
  color: white;
  font-size: 65px;
  font-weight: 700;
}
.p-comunity{
  line-height: 3.5rem;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 22px;
  color: white;
}

.testimonial{
  padding-top: 30px;
}
.icon-author{
  width: 150px;
	height: 150px;
	position: relative;
	padding: 10% 8%;
}
.icon-au, .icon-author img{
  position: absolute;
	width: 80%;
	height: 80%;
	background-size: cover;
  border-radius: 50%;
}
.h3-author{
  position: absolute;
  color: white;
  top: 100px;
  width: 230px;
  margin-top: 20px;
  font-weight: 600;
}

.h4-author{
  position: absolute;
  color: white;
  top: 120px;
  width: 230px;
  font-weight: 600;
  margin-top: 30px;

}

.testimonial-review{
  padding-top: 20px;
}
.testimonial-body{
  line-height: 2.8rem;
  letter-spacing: 0.7px;
  font-weight: 600;
  font-size: 17px;
  color: white;
}

.icon-rating{
  position: absolute;
	width: 20%;
	height: 20%;
	background-size: cover;
}

/*"@gray-base": "#000",
"@gray-darker": "#1280c9",
"@gray-dark": "lighten(@gray-base, 20%)",
"@gray": "#494949",
"@gray-light": "#9ACCEF",
"@gray-lighter": "#FFCC66",
"@brand-primary": "#3498DB",
"@brand-success": "#6EA43F",
"@brand-info": "#FFF",
"@brand-warning": "#F1D8A9",
"@brand-danger": "#ED7161",
"@body-bg": "#fff",*/





@media screen and (min-width: 788px) {
	.icon--hero-bg{
		background-position: center bottom;
		height: 850px;
	}

  .neat-div{
    align-items: center;
  }
  .comunity-section{
    height: 700px;
  }

}
